* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: linear-gradient(to bottom, palegoldenrod, lavenderblush);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h1 {
  text-decoration: underline;
  font-weight: bold;
  font-size: 5rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: whitesmoke;
  text-shadow: 3px 4px 5px black;
}

p {
  margin-top: 1rem;
  font-weight: bold;
  font-size: 3rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: ghostwhite;
  text-shadow: 1px 2px 3px black;
  margin-bottom: 1rem;
}

video {
  max-width: 90%;
  height: auto;
  border-radius: 40px;
  border: 2px solid #333;
}

@media screen and (max-width: 767px) {
  h1 {
    margin-bottom: 0.5rem;
    font-size: 1.8rem;
  }
  
  p {
    font-size: 1rem;
    margin-top: 0.5rem;
  }
  
  video {
    border-radius: 20px;
  }
}